<!DOCTYPE html>
<html>
	<head>
    	<title>Start Page</title>
   	</head>
   	<body>
   	<h1> </h1>
   	<form>
  		<label>Enter Book ID to Get:</label><br>
  		<input type="text" id="getbook" name ="getbook" style="height:50px; width:1080px" ><br><br>
  		<button type = "button" onclick="handleGetBook(getbook.value)" style="height:50px; width:1080px">Get Book</button><br><br>
  		<label>Enter Author ID to Get:</label><br><br>
  		<input type="text" id="getauthor" name = "getauthor" style="height:50px; width:1080px" ><br><br>
  		<button type = "button" onclick="handleGetAuthor(getauthor.value)" style="height:50px; width:1080px">Get Author</button><br><br>
  		<label>Enter a Query to Get:</label><br>
  		<input type="text" id="getquery" name = "getquery" style="height:50px; width:1080px" ><br><br>
  		<button type = "button" onclick="handleGetQuery(getquery.value)" style="height:50px; width:1080px">Get Query</button><br><br>
  		<label>Enter a Book ID to update:</label><br><br>
  		<input type="text" id="putBook" name = "putBook" style="height:50px; width:1080px" ><br><br>
  		<label>Enter a JSON object with fields to update:</label><br><br>
  		<input type="text" id="putBookBody" name = "putBookBody" style="height:50px; width:1080px"><br><br>
  		<button type = "button" onclick="handlePutBook(putBook.value, putBookBody.value)" style="height:50px; width:1080px">Put a Book</button><br><br>
  		<label>Enter an Author ID to update:</label><br><br>
  		<input type="text" id="putA" name = "putA" style="height:50px; width:1080px"><br><br>
  		<label>Enter a JSON object with fields to update:</label><br><br>
  		<input type="text" id="putABody" name = "putABody" style="height:50px; width:1080px" ><br><br>
  		<button type = "button" onclick="handlePutAuthor(putA.value, putABody.value)" style="height:50px; width:1080px">Put an Author</button><br><br>
  		<label>Enter a Book JSON Object to insert:</label><br><br>
  		<input type="text" id="postB" name = "postB" style="height:50px; width:1080px"><br><br>
  		<button type = "button" onclick="handlePostBook(postB.value)" style="height:50px; width:1080px">Insert a Book</button><br><br>
  		<label>Enter an Author JSON Object to insert:</label><br><br>
  		<input type="text" id="postA" name = "postA" style="height:50px; width:1080px"><br><br>
  		<button type = "button" onclick="handlePostAuthor(postA.value)" style="height:50px; width:1080px">Insert an Author</button><br><br>
  		<label>Enter a Book ID to Delete:</label><br><br>
  		<input type="text" id="delB" name = "delB" style="height:50px; width:1080px"><br><br>
  		<button type = "button" onclick="handleDeleteBook(delB.value)" style="height:50px; width:1080px">Delete a Book</button><br><br>
  		<label>Enter an Author ID to Delete:</label><br><br>
  		<input type="text" id="delA" name = "delA" style="height:50px; width:1080px" ><br><br>
  		<button type = "button" onclick="handleDeleteAuthor(delA.value)" style="height:50px; width:1080px">Delete an Author</button><br><br>
  		
  	</form>
  	<div id = "app"></div>
  	</body>
  	<script src="{{ url_for('static', filename="/script.js") }}"></script>
 
</html>